@page "/"

<PageTitle>Home</PageTitle>

<div class="gallery">
	<img class="banner" src="https://wireframe.cc/images/img-placeholder-xs.svg" />
	<img class="banner" src="https://wireframe.cc/images/img-placeholder-xs.svg" />
	<img class="banner" src="https://wireframe.cc/images/img-placeholder-xs.svg" />
	<img class="banner" src="https://wireframe.cc/images/img-placeholder-xs.svg" />
</div>

<Ongoing />
<Upcoming />