<div class="footer">
	<div class="row">
		<img class="logo" src="/img/ivao_blue_text.svg" />
		<div class="linkbox">
			<a>Link One</a>
			<a>Link Two</a>
			<a>Link Three</a>
			<a>Link Four</a>
		</div>
		<div class="linkbox">
			<a>Social One</a>
			<a>Social Two</a>
			<a>Social Three</a>
		</div>
	</div>
	<div class="row dim">
		<a href="https://ivao.aero/">&copy;@(DateTime.UtcNow.Year)&mdash;International Virtual Aviation Organisation</a>
		<a href="https://wiki.ivao.aero/en/home/ivao/privacypolicy">Privacy Policy</a>
		<a href="https://wiki.ivao.aero/en/home/ivao/information">Rules &amp; Regulations</a>
	</div>
</div>