<div class="upcoming">
	<h1>Upcoming</h1>
	<h5>What's happening in our division!</h5>
	<div class="card-gallery">
		<div class="card">
			<img src="https://www.svgrepo.com/show/444730/location-1.svg" />
			<h5>Event Name</h5>
			<p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae.</p>
			<a>Sign up</a>
		</div>
		<div class="card">
			<img src="https://www.svgrepo.com/show/444756/radar.svg" />
			<h5>Training Name</h5>
			<p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae.</p>
			<a>Read more</a>
		</div>
		<div class="card">
			<img src="https://www.svgrepo.com/show/444720/globe.svg" />
			<h5>Ongoing Tour</h5>
			<p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae.</p>
			<a>Get started</a>
		</div>
	</div>
</div>